# Enter your API keys and save this file as config.yaml

# Technical Configuration
BATCH_SIZE: 128 

# Models
EMBEDDING_MODEL: "text-embedding-3-small"
EMBEDDING_DIMENSION: 1536

# VectorStore 
PINECONE_INDEX_NAME: "lurlm"
PINECONE_NAMESPACE: "main"
PINECONE_CLOUD: "aws"
PINECONE_REGION: "us-east-1"

# API Keys
OPENAI_API_KEY: ""
PINECONE_API_KEY: ""

