beautifulsoup4
lxml
numpy
pandas
openai
pinecone
langchain-pinecone
langchain-openai
langchain-text-splitters
langchain
unidecode
openpyxl
scikit-learn
xgboost
matplotlib
adjustText
pdfplumber
pymupdf
pytesseract
pdf2image
pillow
nltk
wordcloud
shap

