adjustText
beautifulsoup4
lxml
matplotlib
nltk
numpy
openai
openpyxl
pandas
pdf2image
pdfplumber
pillow
pinecone
pymupdf
pytesseract
scikit-learn
selenium
shap
stargazer
statsmodels
unidecode
wordcloud
xgboost
